@keyframes slide {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 0;
  }
  30% {
    margin-left: -100%;
  }
  70% {
    margin-left: -100%;
  }
  75% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 0%);
}

header {
  color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
header div.iconDale {
  width: 20%;
}
header div.iconDale img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
header div.forms {
  width: 20%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  color: aliceblue;
  position: relative;
  font-weight: bold;
  margin: 0px 15px;
}
header nav ul li a:after {
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: #b120ac;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  transform: translateY(20px);
}
header nav ul li a:hover:after {
  opacity: 1;
  transform: translateY(15px);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section {
  background-color: white;
  padding: 40px;
  width: 80%;
}
main section div.imgFirst article img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
main section div.selectorCategoria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
main section div.selectorCategoria article.imgProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section div.selectorCategoria article.imgProduct p.textProduct {
  font-weight: bold;
}
main section div.selectorCategoria article.imgProduct img {
  width: 220px;
  height: 220px;
  transition: 0.5s;
  object-fit: cover;
}
main section div.selectorCategoria article.imgProduct img:hover {
  opacity: 0.5;
}
main section div.selectorCategoria1 {
  display: grid;
  grid-template-areas: "prod1 prod2 prod3 prod4" "prod5 prod6 prod7 prod8";
}
main section div.selectorCategoria1 article#prod1 {
  grid-area: prod1;
}
main section div.selectorCategoria1 article#prod2 {
  grid-area: prod2;
}
main section div.selectorCategoria1 article#prod3 {
  grid-area: prod3;
}
main section div.selectorCategoria1 article#prod4 {
  grid-area: prod4;
}
main section div.selectorCategoria1 article#prod5 {
  grid-area: prod5;
}
main section div.selectorCategoria1 article#prod6 {
  grid-area: prod6;
}
main section div.selectorCategoria1 article#prod7 {
  grid-area: prod7;
}
main section div.selectorCategoria1 article#prod8 {
  grid-area: prod8;
}
main section div.selectorCategoria1 article.imgProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section div.selectorCategoria1 article.imgProduct p.textProduct {
  font-weight: bold;
}
main section div.selectorCategoria1 article.imgProduct img {
  width: 220px;
  height: 220px;
  transition: 0.5s;
  object-fit: cover;
}
main section div.selectorCategoria1 article.imgProduct img:hover {
  opacity: 0.5;
}
main section div.imgOff {
  background-image: url("https://lh3.googleusercontent.com/d/1WbK65TSJahONKvYfzdcEdrgvjk2W_P5-");
}
main section div.textoImagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
main section div.socialRed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
}
main section div.socialRed article .iconImg {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
main section div.socialRed article.iconMov img {
  width: 100px;
  height: 100px;
  transition: 0.5s;
  object-fit: cover;
}
main section div.socialRed article.iconMov img:hover {
  opacity: 0.5;
}
main section div.socialRed.pay {
  justify-content: space-evenly;
}
main section div.socialRed.pay img {
  padding: 10px;
}
main section div.centerSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main section div.parrafoButtonOrder {
  width: 80%;
}
main section div article.centerFlexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section.flexDisperso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: start;
  background-color: aqua;
}
main section.sectionImg {
  width: 80%;
  padding: 0px;
}
main section.orderSectionFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main section.sectionOpuesta {
  background-color: black;
  color: aliceblue;
}
main section.sectionGradient {
  background-image: linear-gradient(#bc1595, rgb(0, 0, 0));
  color: aliceblue;
}
main section.formsData div h3 {
  text-align: center;
}
main section.formsData div form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section.formsData div form div {
  padding: 10px;
  width: 60%;
}
main section.formsData div form div.buttonEnd {
  text-align: center;
}
main section.formsData div form div.buttonEnd button {
  background-color: #b320ae;
  color: aliceblue;
}
main section.sectionCarruselBoostrap {
  padding: 0;
}
main section.sectionCarruselBoostrap img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
main section.carruselSection {
  padding: 0;
}
main section.carruselSection div {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
main section.carruselSection div ul {
  display: flex;
  padding: 0;
  width: 300%;
  height: 100%;
  animation: slide 10s infinite alternate ease-in-out;
}
main section.carruselSection div ul li {
  width: 100%;
  height: 100%;
  list-style: none;
  position: relative;
}
main section.carruselSection div ul li div {
  position: absolute;
  text-align: center;
  padding: 0 250px;
  top: 250px;
  color: aliceblue;
}
main section.carruselSection div ul li img {
  width: 100%;
  height: 100%;
}

footer {
  color: aliceblue;
  margin: 30px;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-weight: bold;
}

.CenterParrafo {
  padding: 0 20% 0 20%;
  text-align: center;
}

.centerPosition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  body main section.sectionImg {
    width: 100%;
  }
  body main section {
    padding: 10px;
    width: 100%;
  }
  body main section div.imgFirst article img {
    height: 400px;
  }
  body main section div.selectorCategoria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "prod1 prod2" "prod3 prod4";
  }
  body main section div.selectorCategoria article#prod1 {
    grid-area: prod1;
  }
  body main section div.selectorCategoria article#prod2 {
    grid-area: prod2;
  }
  body main section div.selectorCategoria article#prod3 {
    grid-area: prod3;
  }
  body main section div.selectorCategoria article#prod4 {
    grid-area: prod4;
  }
  body main section div.selectorCategoria article.imgProduct {
    width: 100%;
  }
  body main section div.selectorCategoria article.imgProduct p.textProduct {
    font-size: small;
  }
  body main section div.selectorCategoria article.imgProduct img {
    width: 200px;
    height: 200px;
  }
  body main section div.selectorCategoria1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "prod1 prod2" "prod3 prod4" "prod5 prod6" "prod7 prod8";
  }
  body main section div.selectorCategoria1 article#prod1 {
    grid-area: prod1;
  }
  body main section div.selectorCategoria1 article#prod2 {
    grid-area: prod2;
  }
  body main section div.selectorCategoria1 article#prod3 {
    grid-area: prod3;
  }
  body main section div.selectorCategoria1 article#prod4 {
    grid-area: prod4;
  }
  body main section div.selectorCategoria1 article.imgProduct p.textProduct {
    font-size: small;
  }
  body main section div.selectorCategoria1 article.imgProduct img {
    width: 200px;
    height: 200px;
  }
  body main section div.socialRed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main section div.socialRed article .iconImg {
    width: 100px;
    height: 100px;
  }
  body main section div.linkRedes {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body main section div.centerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main section.flexDisperso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main section.flexDisperso div {
    width: 90%;
  }
  body main footer div article {
    text-align: center;
  }
  body main .CenterParrafo {
    padding: 0%;
  }
}
@media (max-width: 767px) {
  body main section.sectionImg {
    width: 100%;
  }
  body main section {
    padding: 10px;
    width: 100%;
  }
  body main section div.imgFirst article img {
    height: 200px;
  }
  body main section div.selectorCategoria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "prod1 prod2" "prod3 prod4";
  }
  body main section div.selectorCategoria article#prod1 {
    grid-area: prod1;
  }
  body main section div.selectorCategoria article#prod2 {
    grid-area: prod2;
  }
  body main section div.selectorCategoria article#prod3 {
    grid-area: prod3;
  }
  body main section div.selectorCategoria article#prod4 {
    grid-area: prod4;
  }
  body main section div.selectorCategoria article.imgProduct {
    width: 100%;
  }
  body main section div.selectorCategoria article.imgProduct p.textProduct {
    font-size: small;
  }
  body main section div.selectorCategoria article.imgProduct img {
    width: 140px;
    height: 140px;
  }
  body main section div.selectorCategoria1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "prod1 prod2" "prod3 prod4" "prod5 prod6" "prod7 prod8";
  }
  body main section div.selectorCategoria1 article#prod1 {
    grid-area: prod1;
  }
  body main section div.selectorCategoria1 article#prod2 {
    grid-area: prod2;
  }
  body main section div.selectorCategoria1 article#prod3 {
    grid-area: prod3;
  }
  body main section div.selectorCategoria1 article#prod4 {
    grid-area: prod4;
  }
  body main section div.selectorCategoria1 article.imgProduct p.textProduct {
    font-size: small;
  }
  body main section div.selectorCategoria1 article.imgProduct img {
    width: 140px;
    height: 140px;
  }
  body main section div.socialRed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main section div.socialRed article .iconImg {
    width: 70px;
    height: 70px;
  }
  body main section div.linkRedes {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body main section div.centerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main section div.centerSection iframe {
    width: 310px;
  }
  body main section.flexDisperso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main section.flexDisperso div {
    width: 90%;
  }
  body main footer div article {
    text-align: center;
  }
  body main .CenterParrafo {
    padding: 0%;
  }
}

/*# sourceMappingURL=estilos.css.map */
