@keyframes slide {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 0;
  }
  30% {
    margin-left: -100%;
  }
  70% {
    margin-left: -100%;
  }
  75% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 0, 0);
}

header {
  color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
header div.iconDale {
  width: 20%;
}
header div.iconDale img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
header div.forms {
  width: 20%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}
header nav ul a {
  color: aliceblue;
  list-style-type: none;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section {
  background-color: white;
  padding: 40px;
  width: 80%;
}
main section div.imgFirst article img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
main section div.selectorCategoria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
main section div.selectorCategoria article.imgProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section div.selectorCategoria article.imgProduct p.textProduct {
  font-weight: bold;
}
main section div.selectorCategoria article.imgProduct img {
  width: 220px;
  height: 220px;
  object-fit: cover;
}
main section div.textoImagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
main section div.socialRed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
}
main section div.socialRed article .iconImg {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
main section div.socialRed.pay {
  justify-content: space-evenly;
}
main section div.socialRed.pay img {
  padding: 10px;
}
main section div.centerSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main section div article.centerFlexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section.sectionImg {
  width: 80% !important;
  padding: 0px !important;
}
main section.orderSectionFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main section.sectionOpuesta {
  background-color: black;
  color: aliceblue;
}
main section.sectionGradient {
  background-image: linear-gradient(#bc1595, rgb(0, 0, 0));
  color: aliceblue;
}
main section.carruselSection {
  padding: 0;
}
main section.carruselSection div {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
main section.carruselSection div ul {
  display: flex;
  padding: 0;
  width: 300%;
  height: 100%;
  animation: slide 10s infinite alternate ease-in-out;
}
main section.carruselSection div ul li {
  width: 100%;
  height: 100%;
  list-style: none;
  position: relative;
}
main section.carruselSection div ul li div {
  position: absolute;
  text-align: center;
  padding: 0 250px;
  top: 250px;
  color: aliceblue;
}
main section.carruselSection div ul li img {
  width: 100%;
  height: 100%;
}

footer {
  color: aliceblue;
  margin: 30px;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-weight: bold;
}

.CenterParrafo {
  padding: 0 20% 0 20%;
  text-align: center;
}

.centerPosition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section div.selectorCategoria1 {
  display: grid;
  grid-template-areas: "prod1 prod2 prod3 prod4" "prod5 prod6 prod7 prod8";
}
section div.selectorCategoria1 article#prod1 {
  grid-area: prod1;
}
section div.selectorCategoria1 article#prod2 {
  grid-area: prod2;
}
section div.selectorCategoria1 article#prod3 {
  grid-area: prod3;
}
section div.selectorCategoria1 article#prod4 {
  grid-area: prod4;
}
section div.selectorCategoria1 article#prod5 {
  grid-area: prod5;
}
section div.selectorCategoria1 article#prod6 {
  grid-area: prod6;
}
section div.selectorCategoria1 article#prod7 {
  grid-area: prod7;
}
section div.selectorCategoria1 article#prod8 {
  grid-area: prod8;
}
section div.selectorCategoria1 img {
  width: 220px;
  height: 220px;
  object-fit: cover;
}
section div.imgOff {
  background-image: url("https://lh3.googleusercontent.com/d/1WbK65TSJahONKvYfzdcEdrgvjk2W_P5-");
}

section.sectionCarruselBoostrap {
  padding: 0;
}
section.sectionCarruselBoostrap img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/*# sourceMappingURL=estilos.css.map */
