body{
    font-family: "Poppins", sans-serif;
    background-color: black;
}
div{
    img{
        height: 200px;
        width: 200px;
        object-fit: cover;
    }
}
//-----------------------------HEADER-----------------------------------
header{
    section.nav{
        background-color: hsl(0, 0%, 0%);
        color: antiquewhite;
        div{
            width: 40%;
            height: 100%;
            @include flex-row-center;
            justify-content: space-around;
            align-items: center;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        nav{
            width: 60%;
            padding: 2%;
            ul{
                @include flex-row-center;
                justify-content: space-between;
             }
            }
            @include flex-row-center;
            justify-content: space-evenly;
            height: 14vh;
        }
    }
//--------------------------ARTICLE IAMGEN PRINCIPAL-------------------
article.imgFirst{
    width: 100%;
    @include flex-row-center;
    div{
        width: 80%;
        img{
            width: 100%;
            height: 100%;
            height: 500px;
            object-fit: none;
       }
    }
}
//-----------------------------MAIN-----------------------------------
main{
    @include flex-column-center;
    section{
        background-color: $colorPrincipal;
        padding: 40px;
        width: 80%;
        div.selectorCategoria{
            @include flex-row-center;
            justify-content: space-evenly;
        }
        div.textoImagen{
            @include flex-row-center;
            justify-content: space-evenly;
        }
        div.socialRed{
            @include flex-row-center;
            justify-content: center;
            .iconImg{
                height: 100px;
                width: 100px;
            }
        }
        div.centerSection
        {
            @include flex-row-center;
        }
        div.quienesSomos{
            display: grid;
            grid-area: 
            "text img1"
            "text img2";
            background-color: aqua;
         
            img#img1{
                display: inline-block;
                grid-area: "img1";
                }
            img#img2{
                display: inline-block;
                grid-area: "img2";
                
            }
            p#text{
                display: inline-block;
                grid-area: "text";
            }
        }
    }}
//-----------------------------FOOTER-----------------------------------
footer{
    color: aliceblue;
    margin: 30px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
//-----------------------------IMAGENES-----------------------------------
h3{
    font-weight: bold;
}
