body{
    font-family: "Poppins", sans-serif;
    background-color: black;
}
div{
    img{
        height: 200px;
        width: 200px;
        object-fit: cover;
    }
}
//-----------------------------HEADER-----------------------------------
header{
    section.nav{
        background-color: hsl(0, 0%, 0%);
        color: antiquewhite;
        div{
            width: 50%;
            height: 100%;
            @include flex-row-center;
            justify-content: space-around;
            align-items: center;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        nav{
            width: 50%;
            padding: 2%;
            ul{
                @include flex-row-center;
                justify-content: space-between;
             }
            }
            @include flex-row-center;
            justify-content: space-evenly;
            height: 14vh;
        }
    }
//-----------------------------MAIN-----------------------------------
main{
    @include flex-column-center;
    section.sectionImg{
        width: 100% !important;
        padding: 0px !important;
    }
    section{
        background-color: $colorPrincipal;
        // padding: 40px;
        width: 80%;
        div.imgFirst{
            width: 100%;
            @include flex-row-center;
            article{
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    height: 500px;
                    object-fit: none;
               }
            }
        }
        div.selectorCategoria{
            @include flex-row-center;
            justify-content: space-evenly;
        }
        div.textoImagen{
            @include flex-row-center;
            justify-content: space-evenly;
        }
        div.socialRed{
            @include flex-row-center;
            justify-content: center;
            .iconImg{
                height: 100px;
                width: 100px;
            }
        }
        div.centerSection
        {
            @include flex-row-center;
        }
    }}
//-----------------------------FOOTER-----------------------------------
footer{
    color: aliceblue;
    margin: 30px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
//-----------------------------IMAGENES-----------------------------------
h3{
    font-weight: bold;
}
