@media (max-width: 767px) {
    body {
        header{
            
        }
        main {
            section.sectionImg{
                width: 100%;
            }
            section {
                padding: 10px;
                width: 100%;

                div.imgFirst {
                    article {
                        img {
                            height: 200px;
                        }
                    }
                }

                div.selectorCategoria {
                    @include grid-2-2;

                    article.imgProduct {
                        width: 100%;

                        p.textProduct {
                            font-size: small;
                        }

                        img {
                            width: 140px;
                            height: 140px;
                        }
                    }
                }

                div.selectorCategoria1 {
                    @include grid-4-2;

                    article.imgProduct {
                        p.textProduct {
                            font-size: small;
                        }

                        img {
                            width: 140px;
                            height: 140px;
                        }
                    }
                }

                div.socialRed {
                    @include flex-column-center;
                    article{
                        .iconImg{
                            width: 70px;
                            height: 70px;
                        }
                    }
                }

                div.linkRedes {
                    @include flex-row-center;
                    
                }

                div.centerSection {
                    @include flex-column-center;

                    iframe {
                        width: 310px;
                    }
                }
            }

            section.flexDisperso {
                @include flex-column-center;

                div {
                    width: 90%;
                }
            }

            //-----------------------------FOOTER-----------------------------------
            footer {

                div {
                    article {
                        text-align: center;
                    }
                }
            }

            //-----------------------------IMAGENES-----------------------------------

            .CenterParrafo {
                padding: 0%;
            }
        }
    }
}