// main {
//     section.sectionCarrusel{
//         width: 80%;
//         height: 500px;
//         div.carruselFlexContainer {
//             width: 300px;
//             height: 100px;
//             overflow: hidden;
//             position: absolute;
//             article.carruselFlexItem {
//                 width: 100%;
//                 height: 100%;
//                 @include flex-row-center;
//                 justify-content: space-between;
//                 align-items: center;
//                 padding: 20px;
//                 position: relative;
//             }
//             article#tarjetaCarrusel1 {
//                 background-color: #ff2200;
//             }
//             article#tarjetaCarrusel2 {
//                 background-color: brown;
//             }
//             article#tarjetaCarrusel3 {
//                 background-color: chartreuse;
//             }
//         }
//     }
// }

/* Estilos generales del carrusel */
.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-section {
    flex: 1;
    min-width: 100%;
    text-align: center;
    color: #fff;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}

/* Estilos para cada sección */
.section1 {
    background-image: url('imagen1.jpg');
}

.section2 {
    background-image: url('imagen2.jpg');
}

.section3 {
    background-image: url('imagen3.jpg');
}