@media (min-width: 769px) and (max-width: 1199px) {
    body {
        header {
            height: 10vh;
    
            div.iconDale {
                width: 30%;
            }
    
            div.forms {
                width: 40%;
    
                form {
                    input {
                        width: 100%;
                    }
                }
            }
    
            nav#navLarge {
                width: 0;
                display: none;
            }
    
            nav {
                width: 20%;
            }
            nav#navShort{
                @include flex-column-center;
                button {
                    width: 100%;
                    color: aliceblue;
                    background-color: black;
                    border: 0;
                }
                button:active{
                    background-color: #3b3b3b;
                }
            }
        }
    
        main {
            section.sectionImg {
                width: 100%;
            }

            section {
                padding: 10px;
                width: 100%;

                div.imgFirst {
                    article {
                        img {
                            height: 400px;
                        }
                    }
                }

                div.selectorCategoria {
                    @include grid-2-2;

                    article.imgProduct {
                        width: 100%;

                        p.textProduct {
                            font-size: small;
                        }

                        img {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }

                div.selectorCategoria1 {
                    @include grid-4-2;

                    article.imgProduct {
                        p.textProduct {
                            font-size: small;
                        }

                        img {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }

                div.socialRed {
                    @include flex-column-center;

                    article {
                        .iconImg {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }

                div.linkRedes {
                    @include flex-row-center;

                }

                div.centerSection {
                    @include flex-column-center;

                }
            }

            section.flexDisperso {
                @include flex-column-center;

                div {
                    width: 90%;
                }
            }

            //-----------------------------FOOTER-----------------------------------
            footer {

                div {
                    article {
                        text-align: center;
                    }
                }
            }

            //-----------------------------IMAGENES-----------------------------------

            .CenterParrafo {
                padding: 0%;
            }
        }
    }
}